<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <body>
        {{>header}}
        <img src="/img/flower.jpg"/>
        <p>created by {{name}}</p>
    </body>
</html>