<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Zakhele Madi.It uses data from mapbox and darknet api </p>
        <img class="potrait" src="/img/flower.jpg" />

    </div>
    {{>footer}}
</body>

</html>